version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: idps-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: custom_idp
      MYSQL_USER: idp_user
      MYSQL_PASSWORD: idp_password
    ports:
      - "3309:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./providers/custom/database/init:/docker-entrypoint-initdb.d
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: idps-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      timeout: 3s
      retries: 5


volumes:
  mysql_data:
    driver: local
  redis_data:
    driver: local