# Database Configuration
export DB_HOST=localhost
export DB_PORT=3309
export DB_USER=idp_user
export DB_PASSWORD=idp_password
export DB_NAME=custom_idp

# Redis Configuration
export REDIS_HOST=localhost
export REDIS_PORT=6379

# JWT Configuration
export JWT_PRIVATE_KEY_PEM="-----BEGIN PRIVATE KEY-----\n[Private Key Content]\n-----END PRIVATE KEY-----"
export JWT_PUBLIC_KEY_PEM="-----BEGIN PUBLIC KEY-----\n[Public Key Content]\n-----END PUBLIC KEY-----"

# IdP Configuration
export ISSUER_URL=http://localhost:3001